package components

import (
	"time"
	"fmt"
)

var nav = []struct {
	Link templ.SafeURL
	Text string
}{
	{"/", "Home"},
	{"/about", "About"},
}

templ layout(title string) {
	<!DOCTYPE html>
	<html>
		<head>
			<title>
				if title != "" {
					{ title } –
				}
				Project
			</title>
			<meta name="description" content="Project description"/>
			<meta name="viewport" content="width=device-width,initial-scale=1"/>
			<link rel="stylesheet" href="/static/main.css"/>
			<script type="module" src="/static/main.js" async></script>
		</head>
		<body class="min-h-screen flex flex-col">
			<header class="sticky py-12">
				<div class="container mx-auto flex justify-between">
					<div>Project</div>
					<nav class="space-x-5">
						for _, item := range nav {
							<a href={ item.Link }>{ item.Text }</a>
						}
					</nav>
				</div>
			</header>
			<main class="grow">
				{ children... }
			</main>
			<footer class="py-12 text-center text-slate-300 text-sm">
				<div class="container mx-auto">
					© { fmt.Sprint(time.Now().Year()) } Project
				</div>
			</footer>
		</body>
	</html>
}
