package components

templ layout(title string) {
	<!DOCTYPE html>
	<html>
		<head>
			<meta name="viewport" content="width=device-width,initial-scale=1"/>
			<title>
				if title != "" {
					{ title } –
				}
				Project
			</title>
			<link rel="stylesheet" href="/static/main.css"/>
			<script async src="/static/main.js"></script>
		</head>
		<body>
			{ children... }
		</body>
	</html>
}
